<?xml version='1.0' encoding='utf-8'?>
<widget id="com.springswf.grabersolarbook" version="2.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Graber Roller Solar Sample Book</name>
    <description>Graber Sample Book App</description>
    <author email="imweb@springswindowfashions.com" href="https://www.springswindowfashions.com">IM Web Team</author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
</widget>
