// Gallery Styles
.gallery-content {
  flex-wrap: wrap;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  .info-heading {
    flex: 1 0 auto;
    width: 100%;
  }
}

.allow-overflow {

  .content-container {
    height: auto;
    width: 100%;
  }

  .gallery-content {
    height: auto;
    overflow: hidden;
    width: 100%;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
  margin-right: -2rem;
}

.gallery-image-container {
  flex: 0 1 auto;
  height: 20rem;
  margin-bottom: 2rem;
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
  width: calc(33.3333% - .7rem);
}

.gallery-image {
  height: 100%;
}

.lightbox-outer-container {
  background-color: rgba($base-black, .9);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;

  &::after {
    background-image: url('../images/icons/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.7rem;
    content: ' ';
    height: 2.7rem;
    position: absolute;
    right: 3.5rem;
    top: 3.5rem;
    width: 2.7rem;
  }
}

.lightbox-inner-container {
  height: 58rem;
  margin: 8rem auto 0;
  overflow: hidden;
  position: relative;
  width: 87rem;
}

.lightbox-list {
  display: flex;
  height: 58rem;
  width: auto;
}

.lightbox-item {
  flex: 1 0 auto;
  height: 58rem;
  position: relative;
  width: 87rem;
}

.lightbox-image {
  width: 100%;
}

.lightbox-caption {
  background-color: rgba($base-black, .7);
  bottom: 0;
  color: $base-white;
  font-size: 1.2rem;
  left: 0;
  padding: 1.5rem;
  position: absolute;
  right: 0;
}

.lightbox-nav {
  background-repeat: no-repeat;
  background-size: 2rem;
  border-radius: .3rem;
  height: 20rem;
  opacity: .5;
  position: absolute;
  top: calc(50% - 10rem);
  width: 7.5rem;
  z-index: 99;

  &:active,
  &:focus {
    background-color: rgba($base-black, .3);
    opacity: 1;
  }

  &.lightbox-left {
    background-image: url('../images/icons/left-arrow.svg');
    background-position: 1rem center;
    left: 0;
  }

  &.lightbox-right {
    background-image: url('../images/icons/right-arrow.svg');
    background-position: calc(100% - 1rem) center;
    right: 0;
  }
}
