<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="viewport-fit=cover, initial-scale=1, maximum-scale=1.5, minimum-scale=1, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval';script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; connect-src *">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Convention Showcase App | Budget Blinds - Signature Series</title>
    <link rel="stylesheet" href="{% if topLevelNav == false %}../{% endif %}assets/css/styles.min.css">
    {% block links %}{% endblock %}
  </head>
  <body id="app" class="app" data-page-left="{{ pageLeft }}" data-page-right="{{ pageRight }}">
    <!-- Navbar -->
    {% include "navbar.njk" %}
    <!-- Navbar -->

    {% block content %}{% endblock %}

    <!-- Tabbar -->
    {% include "tabbar.njk" %}
    <!-- Tabbar -->

    <script src="{% if topLevelNav == false %}../{% endif %}cordova.js"></script>
    <script src="{% if topLevelNav == false %}../{% endif %}assets/js/app.min.js"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>
