<div class="tabbar">
  <ul class="tabbar--list">
    <li class="tabbar--list-item"><a class="tabbar--nav-link" href="index.html"><img class="svg-icon home-svg" src="/assets/images/icons/home.svg" alt="Home"><br>Home</a></li>
    <li class="tabbar--list-item"><a class="tabbar--nav-link" href="product-catalog.html"><img class="svg-icon catalog-svg" src="/assets/images/icons/catalog.svg" alt="Product Catalog"><br>Catalog</a></li>
    <li class="tabbar--list-item"><a class="tabbar--nav-link" href="collections.html"><img class="svg-icon collections-svg" src="/assets/images/icons/collections.svg" alt="Collections"><br>Collections</a></li>
    <li class="tabbar--list-item"><a class="tabbar--nav-link" href="media.html"><img class="svg-icon media-svg" src="/assets/images/icons/media.svg" alt="Media Library"><br>Media</a></li>
  </ul>
</div>