// Fonts
@font-face {
  font-family: 'LFTEtica';
  font-weight: 300;
  src: url('../fonts/LFTEtica-Light.ttf');
}

@font-face {
  font-family: 'LFTEtica';
  font-weight: 400;
  src: url('../fonts/LFTEtica-Regular.ttf');
}

@font-face {
  font-family: 'LFTEtica';
  font-weight: 500;
  src: url('../fonts/LFTEtica-Book.ttf');
}

@font-face {
  font-family: 'LFTEtica';
  font-weight: 700;
  src: url('../fonts/LFTEtica-Bold.ttf');
}

@font-face {
  font-family: 'CapitoliumHead2';
  font-weight: 400;
  src: url('../fonts/CapitoliumHead2-Light.ttf');
}

@font-face {
  font-family: 'CapitoliumHead2';
  font-weight: 500;
  src: url('../fonts/CapitoliumHead2-Regular.ttf');
}

@font-face {
  font-family: 'CapitoliumHead2';
  font-weight: 600;
  src: url('../fonts/CapitoliumHead2-SemiBold.ttf');
}

@font-face {
  font-family: 'CapitoliumHead2';
  font-weight: 700;
  src: url('../fonts/CapitoliumHead2-Bold.ttf');
}
