// Fonts
@font-face {
  font-family: 'LFTEtica Light';
  src: url('../fonts/LFTEtica-Light.ttf');
}

@font-face {
  font-family: 'LFTEtica Regular';
  src: url('../fonts/LFTEtica-Regular.ttf');
}

@font-face {
  font-family: 'LFTEtica Book';
  src: url('../fonts/LFTEtica-Book.ttf');
}

@font-face {
  font-family: 'LFTEtica Bold';
  src: url('../fonts/LFTEtica-Bold.ttf');
}

@font-face {
  font-family: 'CapitoliumHead2 Light';
  src: url('../fonts/CapitoliumHead2-Light.ttf');
}

@font-face {
  font-family: 'CapitoliumHead2 Regular';
  src: url('../fonts/CapitoliumHead2-Regular.ttf');
}

@font-face {
  font-family: 'CapitoliumHead2 SemiBold';
  src: url('../fonts/CapitoliumHead2-SemiBold.ttf');
}

@font-face {
  font-family: 'CapitoliumHead2 Bold';
  src: url('../fonts/CapitoliumHead2-Bold.ttf');
}
