// Grid Overlay
.show-grid {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .container {
    height: 100%;
    position: relative;

    &::before {
      background: $base-redf00;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px; /* stylelint-disable-line unit-whitelist */
    }

    &::after {
      background: $base-redf00;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 2px; /* stylelint-disable-line unit-whitelist */
    }
  }

  .row {
    height: 100%;

    > * {
      background: rgba($base-black, .1);
      height: 100%;
    }

    &::before {
      background: rgba($base-black, .1);
      content: '';
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.baseline-8-black::after {
  background: repeating-linear-gradient(rgba($base-black, .1), rgba($base-black, .1) 1.2rem, rgba($base-black, 0) 1.2rem, rgba($base-black, 0) 2.4rem);
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5000;
}
