// Helpful classes
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.show {
  display: block !important; /* stylelint-disable-line declaration-no-important */
}

.show-flex {
  display: flex !important; /* stylelint-disable-line declaration-no-important */
}

.hide {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.hidden {
  visibility: hidden !important; /* stylelint-disable-line declaration-no-important */
}

.visible {
  visibility: visible !important; /* stylelint-disable-line declaration-no-important */
}

// Clearfix
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}
