{# Collections #}
{% extends "layout.njk" %}
{% set pagename = 'Catalog' %}
{% set activePage = 'catalog' %}
{% set pageLeft = '#' %}
{% set pageRight = '#' %}
{% set topLevelNav = true %}
{% set showBrand = true %}
{% set showTitle = true %}

{% block content %}

<!-- Content -->
<div class="content-container transition-container">
  <section class="content Catalog-content">
    <h1 class="view--intro-heading">Catalog to Inspire</h1>
  </section>
</div>
<!-- Content -->

{% endblock %}