{# Collections #}
{% extends "layout.njk" %}
{% set pagename = 'Collections' %}
{% set activePage = 'collections' %}
{% set pageLeft = '#' %}
{% set pageRight = '#' %}
{% set topLevelNav = true %}
{% set showTitle = true %}

{% block content %}

<!-- Content -->
<section class="content collections-content">
  <h1 class="view--intro-heading">Collections to Inspire</h1>
  <ul class="filters">
    <li class="filters--list-item">
      <label for="roller-shades">Roller Shades</label>
      <input class="filter" type="checkbox" id="roller-shades" name="productline" value="Roller Shades">
    </li>
    <li class="filters--list-item">
      <label for="solar-shades">Solar Shades</label>
      <input class="filter" type="checkbox" id="solar-shades" name="productline" value="Solar Shades">
    </li>
  </ul>
  <div class="swatch-collections" id="swatches"></div>
</section>
<!-- Content -->

<div id="lightbox" class="swatch-lightbox-container hide">
  <figure class="swatch-lightbox-image-container">
    <img id="lightbox-image" class="swatch-lightbox-image" src="" alt="" />
    <figcaption id="lightbox-caption" class="swatch-lightbox-caption"></figcaption>
  </figure>
</div>

{% endblock %}