{# Index #}
{% extends "layout.njk" %}
{% set pagename = 'Solar and Roller Shades' %}
{% set activePage = 'home' %}
{% set pageLeft = '#' %}
{% set pageRight = '#' %}
{% set topLevelNav = true %}
{% set showBrand = true %}
{% set showTitle = true %}

{% block content %}

<!-- Content -->
<div id="home" class="content-container transition-container">
  <section class="content home-content">
    <h1 class="view--intro-heading">Graber Lightweaves<sup class="reg-trade">&reg;</sup> Roller and Solar Shades</h1>
    <div class="intro-content--container">
      <ul class="intro-content--list">
        <li class="intro-content--list-item">
          <div class="intro-item--container">
            <div class="intro-content--image-container">
              <img class="intro-contnt--image" src="assets/images/item-3.png" alt="" />
            </div>
            <span class="intro-content--text">Fabrics</span>
            <a class="intro-content--link" href="collections.html"></a>
          </div>
        </li>
        <li class="intro-content--list-item">
          <div class="intro-item--container">
            <div class="intro-content--image-container">
              <img class="intro-contnt--image" src="assets/images/item-4.png" alt="" />
            </div>
            <span class="intro-content--text">Room Photography</span>
            <a class="intro-content--link" href="media.html"></a>
          </div>
        </li>
        <li class="intro-content--list-item">
          <div class="intro-item--container">
            <div class="intro-content--image-container">
              <img class="intro-contnt--image" src="assets/images/item-1.png" alt="" />
            </div>
            <span class="intro-content--text">Inspirational Catalog</span>
            <a class="intro-content--link" id="catalog" href="" data-href="assets/pdfs/graber-solar-roller-catalog.pdf"></a>
          </div>
        </li>
        <li class="intro-content--list-item">
          <div class="intro-item--container">
            <div class="intro-content--image-container">
              <img class="intro-contnt--image" src="assets/images/item-2.png" alt="" />
            </div>
            <span class="intro-content--text">Design Guide</span>
            <a class="intro-content--link" id="trend-guide" href="" data-href="assets/pdfs/graber-trend-guide.pdf"></a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
<!-- Content -->

{% endblock %}
