{# Gallery #}
{% extends "layout.njk" %}
{% set pagename = 'Media' %}
{% set activePage = 'media' %}
{% set pageLeft = '#' %}
{% set pageRight = '#' %}
{% set topLevelNav = true %}
{% set leftArrow = false %}
{% set showBrand = true %}
{% set showTitle = true %}

{% block content %}

<!-- Content -->
<div class="content-container transition-container">
  <section class="content gallery-content">
    {# <h1 class="view--intro-heading">Photography to Inspire</h1> #}
    <div id="gallery" class="gallery-container">
      <h2 class="gallery-heading">Roller Shades</h2>
      <div id="roller-gallery" class="gallery-list roller-gallery"></div>
    </div>
    <div class="gallery-container">
      <h2 class="gallery-heading">Solar Shades</h2>
      <div id="solar-gallery" class="gallery-list solar-gallery"></div>
    </div>
  </section>
</div>
<!-- Content -->

<div id="lightbox" class="lightbox-outer-container hide">
  <div id="lightbox-inner-container" class="lightbox-inner-container">
    <div id="lightbox-left" class="lightbox-nav lightbox-left"></div>
    <div id="lightbox-right" class="lightbox-nav lightbox-right"></div>
    <div id="lightbox-list" class="lightbox-list"></div>
  </div>
</div>

{% endblock %}
