// Pagebar Styles
.pagebar {
  bottom: 3.2rem;
  position: absolute;
  width: 102.4rem;
}

.page-nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.page-nav-list-item {
  flex: 0 1 auto;
  margin-bottom: 0;
  margin-left: .75rem;
  margin-right: .75rem;
}

.page-link {
  background-color: rgba($brand-color-1, .5);
  border-radius: 50%;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
}

.active .page-link {
  background-color: $brand-color-4;
}
