// View Styles
.content-container {
  background-color: $base-white;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4.2rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 100%;
}
