// View Styles
.content-container {
  background-color: $base-white;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding-bottom: 3rem;
  padding-top: 4.25rem;
  width: 100%;
}

.ios .content-container {
  padding-top: 4.25rem;
}

.iphonex .content-container {
  padding-top: 4.75rem;
}

.content {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  width: 100%;
}
