{# Cellular and Pleated Shades Page 4 #}
{% extends "layout.njk" %}
{% set pagename = 'cellular-pleated-4' %}
{% set activePage = 'cellular-pleated' %}
{% set topLevelNav = false %}
{% set showTitle = false %}
{% set pageLeft = 'cellular-pleated-3.html' %}
{% set pageRight = 'cellular-pleated-5.html' %}
{% set leftArrow = true %}
{% set rightArrow = true %}
{% set indicator = 4 %}
{% set range = range(1, 7) %}

{% block content %}
<!-- Navbar -->
{% include "navbar.njk" %}
<!-- Navbar -->

<!-- Content -->
<section class="content cp-4">
  <div class="column column-1">
    <h1 class="info-heading">Perfect Light<br>Control for<br>Every Space</h1>
    <p class="info-description">Our new semi-sheer fabric offers a new option for more natural sunlight.</p>
    <p class="info-description">With many fabrics available in both light-filtering and blackout options, we make it easy to coordinate shades in a whole home.</p>
  </div>
  <div class="column column-2">
    <div id="selected-option" class="selected-option">
      <img id="selected-option-image" class="selected-option-image" src="../assets/images/cellular-shade-opacity-sheer.jpg" alt="Page Image" />
    </div>
    <ul class="option-list">
      <li class="option-list-item">
        <button class="option-button active" data-image="../assets/images/cellular-shade-opacity-sheer.jpg"><img class="option-image" src="../assets/images/sheer.png" alt="Page Image" /></button><span class="option-label">Sheer</span>
      </li>
      <li class="option-list-item">
        <button class="option-button" data-image="../assets/images/cellular-shade-opacity-semi-sheer.jpg"><img class="option-image" src="../assets/images/semi-sheer.png" alt="Page Image" /></button><span class="option-label">Semi-Sheer</span>
      </li>
      <li class="option-list-item">
        <button class="option-button" data-image="../assets/images/cellular-shade-opacity-light-filtering.jpg"><img class="option-image" src="../assets/images/light-filtering.png" alt="Page Image" /></button><span class="option-label">Light Filtering</span>
      </li>
      <li class="option-list-item">
        <button class="option-button" data-image="../assets/images/cellular-shade-opacity-blackout.jpg"><img class="option-image" src="../assets/images/blackout.png" alt="Page Image" /></button><span class="option-label">Blackout</span>
      </li>
    </ul>
  </div>
</section>
<!-- Content -->

<!-- Pagebar -->
{% include "pagebar.njk" %}
<!-- Pagebar -->
{% endblock %}
