{# Cellular and Pleated Shades Page 5 #}
{% extends "layout.njk" %}
{% set pagename = 'cellular-pleated-5' %}
{% set activePage = 'cellular-pleated' %}
{% set topLevelNav = false %}
{% set showTitle = false %}
{% set pageLeft = 'cellular-pleated-4.html' %}
{% set pageRight = 'cellular-pleated-6.html' %}
{% set leftArrow = true %}
{% set rightArrow = true %}
{% set indicator = 5 %}
{% set range = range(1, 7) %}

{% block content %}
<!-- Navbar -->
{% include "navbar.njk" %}
<!-- Navbar -->

<!-- Content -->
<section class="content cp-5">
  <div class="column column-1">
    <div class="info-box-container">
      <h1 class="info-heading">Design Improvements<br>for Peace of Mind</h1>
      <p class="info-description">All cellular fabrics available at 144" for easy wide window solutions and simple shopping</p>
      <div class="info-figure">
        <h2 class="figure-heading">New!</h2>
        <p class="figure-top-text"><strong>All fabrics</strong> up to 144&quot; width</p>
        <svg width="262px" height="212px" viewBox="0 0 262 212" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <g id="Group-6" transform="translate(0.000000, 0.546000)">
              <polygon id="Stroke-1" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="6.2857 194.571 254.9807 194.571 254.9807 208.5 6.2857 208.5"></polygon>
              <polygon id="Stroke-3" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="1.5 194.571 259.768 194.571 259.768 186.289 1.5 186.289"></polygon>
              <polygon id="Stroke-5" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="253.3277 1.9538 7.9387 1.9538 7.9387 186.1898 14.9817 186.1898 14.9817 8.8138 246.2847 8.8138 246.2847 186.1898 253.3277 186.1898"></polygon>
          </g>
          <g id="Group-30" transform="translate(17.000000, 83.546000)">
              <path d="M205.4517,1.1125 C205.0517,1.7395 205.2367,2.5755 205.8657,2.9765 L223.2877,14.0715 L205.8657,25.1675 C205.2367,25.5685 205.0517,26.4045 205.4517,27.0305 C205.8517,27.6585 206.6917,27.8405 207.3157,27.4455 L226.5257,15.2115 C226.9147,14.9635 227.1507,14.5335 227.1507,14.0715 C227.1507,13.6105 226.9147,13.1805 226.5257,12.9325 L207.3157,0.6985 C207.0917,0.5565 206.8397,0.4875 206.5927,0.4875 C206.1457,0.4875 205.7097,0.7095 205.4517,1.1125" id="Fill-24" fill="#F7F7F6"></path>
              <path d="M3.5338,14.0719 L46.7328,14.0719" id="Stroke-26" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M21.815,27.0309 C22.216,26.4039 22.03,25.5679 21.401,25.1679 L3.979,14.0719 L21.401,2.9769 C22.03,2.5759 22.216,1.7399 21.815,1.1129 C21.415,0.4849 20.575,0.3029 19.951,0.6979 L0.741,12.9329 C0.352,13.1809 0.116,13.6109 0.116,14.0719 C0.116,14.5329 0.352,14.9629 0.741,15.2109 L19.951,27.4449 C20.175,27.5879 20.427,27.6559 20.674,27.6559 C21.121,27.6559 21.557,27.4349 21.815,27.0309" id="Fill-28" fill="#F7F7F6"></path>
              <path d="M3.5338,14.0719 L46.7328,14.0719" id="Stroke-26" transform="translate(176, 0)" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
          <g id="Icon:-Size-Improvement" transform="translate(-0.500000, 0.000000)">
            <path d="M68.1754,186.7361 L68.1754,182.7361" id="Stroke-7" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M68.1754,175.3728 L68.1754,149.6018" id="Stroke-8" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="7.363,7.363,7.363,7.363"></path>
            <path d="M68.1754,145.9197 L68.1754,17.0607" id="Stroke-9" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="7.363,7.363,7.363,7.363,7.363,7.363"></path>
            <path d="M68.1754,13.3792 L68.1754,9.3792" id="Stroke-10" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M75.9136,186.7361 L75.9136,182.7361" id="Stroke-11" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M75.9136,175.3728 L75.9136,149.6018" id="Stroke-12" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="7.363,7.363,7.363,7.363"></path>
            <path d="M75.9136,145.9197 L75.9136,17.0607" id="Stroke-13" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="7.363,7.363,7.363,7.363,7.363,7.363"></path>
            <path d="M75.9136,13.3792 L75.9136,9.3792" id="Stroke-14" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M184.9937,186.7361 L184.9937,182.7361" id="Stroke-15" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M184.9937,175.3728 L184.9937,149.6018" id="Stroke-16" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="7.363,7.363,7.363,7.363"></path>
            <path d="M184.9937,145.9197 L184.9937,17.0607" id="Stroke-17" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="7.363,7.363,7.363,7.363,7.363,7.363"></path>
            <path d="M184.9937,13.3792 L184.9937,9.3792" id="Stroke-18" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M193.0914,186.7361 L193.0914,182.7361" id="Stroke-19" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M193.0914,175.3728 L193.0914,149.6018" id="Stroke-20" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="7.363,7.363,7.363,7.363"></path>
            <path d="M193.0914,145.9197 L193.0914,17.0607" id="Stroke-21" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="7.363,7.363,7.363,7.363,7.363,7.363"></path>
            <path d="M193.0914,13.3792 L193.0914,9.3792" id="Stroke-22" stroke="#F7F7F6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
        <p class="figure-bottom-text">Previous 86&quot; max</p>
      </div>
    </div>
  </div>
</section>
<!-- Content -->

<!-- Pagebar -->
{% include "pagebar.njk" %}
<!-- Pagebar -->
{% endblock %}
