{# Cellular and Pleated Shades Page 2 #}
{% extends "layout.njk" %}
{% set pagename = 'cellular-pleated-2' %}
{% set activePage = 'cellular-pleated' %}
{% set topLevelNav = false %}
{% set showTitle = false %}
{% set pageLeft = 'cellular-pleated-1.html' %}
{% set pageRight = 'cellular-pleated-3.html' %}
{% set leftArrow = true %}
{% set rightArrow = true %}
{% set indicator = 2 %}
{% set range = range(1, 7) %}

{% block content %}
<!-- Navbar -->
{% include "navbar.njk" %}
<!-- Navbar -->

<!-- Content -->
<section id="cellular-pleated-swatches" class="content cp-2">
  <div class="column column-1">
    <div id="swatches-1" class="swatch-list-container">
      {# <img class="swatch-image" src="../assets/images/swatch-column-w-highlight.png" alt="Page Image" />
      <img class="swatch-image" src="../assets/images/swatch-column.png" alt="Page Image" /> #}
    </div>
    <div id="swatches-2" class="swatch-list-container">
      {# <img class="swatch-image" src="../assets/images/swatch-column.png" alt="Page Image" />
      <img class="swatch-image" src="../assets/images/swatch-column-w-highlight.png" alt="Page Image" /> #}
    </div>
  </div>
  <div class="column column-2">
    <h1 class="info-heading">Swoon-Worthy<br>Fabrics That Sell</h1>
    <p class="info-description">Gorgeous mix of bold and neutral fabrics carefully curated for trend-right looks</p>
    <button id="swatch-collections-link" class="swatch-collections-button" data-href="../assets/pdfs/2019-Cellular-Pleated-Swatches.pdf">View the full collections</button>
  </div>
  <div class="column column-3">
    <div id="swatches-3" class="swatch-list-container">
      {# <img class="swatch-image" src="../assets/images/swatch-column.png" alt="Page Image" />
      <img class="swatch-image" src="../assets/images/swatch-column-w-highlight.png" alt="Page Image" /> #}
    </div>
    <div id="swatches-4" class="swatch-list-container">
      {# <img class="swatch-image" src="../assets/images/swatch-column-w-highlight.png" alt="Page Image" />
      <img class="swatch-image" src="../assets/images/swatch-column.png" alt="Page Image" /> #}
    </div>
  </div>
</section>
<!-- Content -->

<div id="lightbox" class="swatch-lightbox-container hide">
  <figure class="swatch-lightbox-image-container">
    <img id="lightbox-image" class="swatch-lightbox-image" src="" alt="" />
    <figcaption id="lightbox-caption" class="swatch-lightbox-caption"></figcaption>
  </figure>
</div>

<!-- Pagebar -->
{% include "pagebar.njk" %}
<!-- Pagebar -->
{% endblock %}
