{# Sheer and Layered Shades Page 3 #}
{% extends "layout.njk" %}
{% set pagename = 'sheer-layered-3' %}
{% set activePage = 'sheer-layered' %}
{% set topLevelNav = false %}
{% set showTitle = false %}
{% set pageLeft = 'sheer-layered-2.html' %}
{% set pageRight = 'sheer-layered-4.html' %}
{% set leftArrow = true %}
{% set rightArrow = true %}
{% set indicator = 3 %}
{% set range = range(1, 7) %}

{% block content %}
<!-- Navbar -->
{% include "navbar.njk" %}
<!-- Navbar -->

<!-- Content -->
<section class="content sl-3">
  <div class="column column-1">
    <h1 class="info-heading">Easy Elegance.<br>Sheer Brilliance.</h1>
    <p class="info-description">There’s no better way to bring airy drama to a room than with Signature Series Sheer Shades.</p>
    <p class="info-description">These delicate shades are woven as one continuous piece of fabric for no seams, stitches, or adhesives to interrupt an airy view.</p>
    <div class="closeup-container">
      <img class="closeup-image" src="../assets/images/signature-select-6160-sheer-shades-cu17-V2.png" alt="Sheer Shade Close up" />
    </div>
  </div>
  <div class="column column-2">
    <img class="image" src="../assets/images/signature-select-sheer-layered-page-3.png" alt="Page Image" />
  </div>
  <div class="colorbar"></div>
</section>
<!-- Content -->

<!-- Pagebar -->
{% include "pagebar.njk" %}
<!-- Pagebar -->
{% endblock %}
