{# Sheer and Layered Shades Page 2 #}
{% extends "layout.njk" %}
{% set pagename = 'sheer-layered-2' %}
{% set activePage = 'sheer-layered' %}
{% set topLevelNav = false %}
{% set showTitle = false %}
{% set pageLeft = 'sheer-layered-1.html' %}
{% set pageRight = 'sheer-layered-3.html' %}
{% set leftArrow = true %}
{% set rightArrow = true %}
{% set indicator = 2 %}
{% set range = range(1, 7) %}

{% block content %}
<!-- Navbar -->
{% include "navbar.njk" %}
<!-- Navbar -->

<!-- Content -->
<section class="content sl-2">
  <div class="column column-1">
    <div class="video-container layered-video-container">
      <video id="layered-video" class="sl-2-video layered-video hide" controls playsinline src="../assets/videos/CGI-Layered-375.mp4" type="video/mp4"></video>
      <button class="poster-container">
        <img class="poster-image" src="../assets/images/layered-video-poster.png" alt="Poster Image" />
        <svg class="play-icon" width="80px" height="80px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Placeholder:-Play" fill="#F7F7F6" fill-rule="nonzero">
              <circle id="Oval" stroke="#FFFFFF" stroke-width="5" fill-opacity="0.5" cx="40" cy="40" r="37.5"></circle>
              <polygon id="Triangle" transform="translate(46.571429, 40.285714) rotate(90.000000) translate(-46.571429, -40.285714) " points="46.5714286 18.8571429 68 61.7142857 25.1428571 61.7142857"></polygon>
          </g>
        </svg>
      </button>
    </div>
    <div class="video-container cassette-video-container">
      <video id="cassette-video" class="sl-2-video cassette-video hide" controls playsinline src="../assets/videos/CGI-Cassette-375.mp4" type="video/mp4"></video>
      <button class="poster-container">
        <img class="poster-image" src="../assets/images/cassette-video-poster.png" alt="Poster Image" />
        <svg class="play-icon" width="80px" height="80px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Placeholder:-Play" fill="#F7F7F6" fill-rule="nonzero">
              <circle id="Oval" stroke="#FFFFFF" stroke-width="5" fill-opacity="0.5" cx="40" cy="40" r="37.5"></circle>
              <polygon id="Triangle" transform="translate(46.571429, 40.285714) rotate(90.000000) translate(-46.571429, -40.285714) " points="46.5714286 18.8571429 68 61.7142857 25.1428571 61.7142857"></polygon>
          </g>
        </svg>
      </button>
    </div>
    <p class="cassette-description">Fabric-wrapped cassette comes standard</p>
  </div>
  <div class="column column-2">
    <h1 class="info-heading">Designed with<br>the Sun in Mind</h1>
    <p class="info-description">Crafted with translucent fabric, sheer and layered shades offer luxurious natural sunlight into every space.</p>
    <p class="info-description">For those who want even more sunlight, shades recede completely into their fabric-wrapped cassettes for an unobstructed view.</p>
  </div>
  <div class="column column-3">
    <p class="top-box-description">Both sheer and layered shades block 99% of UV rays.</p>
    <div class="video-container sheer-video-container">
      <video id="sheer-video" class="sl-2-video sheer-video hide" controls playsinline src="../assets/videos/CGI-Sheer-375.mp4" type="video/mp4"></video>
      <button class="poster-container">
        <img class="poster-image" src="../assets/images/sheer-video-poster.png" alt="Poster Image" />
        <svg class="play-icon" width="80px" height="80px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Placeholder:-Play" fill="#F7F7F6" fill-rule="nonzero">
              <circle id="Oval" stroke="#FFFFFF" stroke-width="5" fill-opacity="0.5" cx="40" cy="40" r="37.5"></circle>
              <polygon id="Triangle" transform="translate(46.571429, 40.285714) rotate(90.000000) translate(-46.571429, -40.285714) " points="46.5714286 18.8571429 68 61.7142857 25.1428571 61.7142857"></polygon>
          </g>
        </svg>
      </button>
    </div>
    <div class="vane-description-wrapper">
      <div class="vane-description-container">
        <img class="vane-description-image" src="../assets/images/ZSH 2-half inch CloseUp3.png" alt="2 Inch Vanes">
        <p class="vane-description">2" vanes work well in smaller windows</p>
      </div>
      <div class="vane-description-container">
        <img class="vane-description-image" src="../assets/images/ZSH 3 inch CloseUp3.png" alt="3 Inch Vanes">
        <p class="vane-description">3" vanes are ideal in larger windows</p>
      </div>
    </div>
  </div>
</section>
<!-- Content -->

<!-- Pagebar -->
{% include "pagebar.njk" %}
<!-- Pagebar -->
{% endblock %}
