{# Sheer and Layered Shades Page 6 #}
{% extends "layout.njk" %}
{% set pagename = 'sheer-layered-6' %}
{% set activePage = 'sheer-layered' %}
{% set topLevelNav = false %}
{% set showTitle = true %}
{% set pageLeft = 'sheer-layered-5.html' %}
{% set pageRight = 'cellular-pleated-1.html' %}
{% set leftArrow = true %}
{% set rightArrow = true %}
{% set indicator = 6 %}
{% set range = range(1, 7) %}

{% block content %}
<!-- Navbar -->
{% include "navbar.njk" %}
<!-- Navbar -->

<!-- Content -->
<section class="content sl-6">
  <div class="column-container">
    <div class="column column-1">
      <h1 class="info-heading"><span class="title-med-weight">10% Off Your</span><br>Sample Book Order</h1>
      <h2 class="info-sub-heading">Limited Time Offer!</h2>
      <p class="info-description">Pre-order your sample book today and receive this special convention pricing (on top of your Signature Club discount)!</p>
    </div>
    <div class="column column-2">
      <div class="sample-book-container">
        <img class="sample-book-image" src="../assets/images/SS-Sheer-Layered-Sample-book.png" alt="Sheer and Layered Sample Book" />
      </div>
    </div>
    <div class="column column-3">
      <img class="sample-book-snapshot" src="../assets/images/sheer-layered-1.jpg" alt="Cellular and Pleated Sample Book" />
      <img class="sample-book-snapshot" src="../assets/images/sheer-layered-2.jpg" alt="Cellular and Pleated Sample Book" />
      <img class="sample-book-snapshot" src="../assets/images/sheer-layered-3.jpg" alt="Cellular and Pleated Sample Book" />
    </div>
  </div>
  <div class="colorbar">
    <p class="product-out-caption">Explore</p>
    <h3 class="product-out-heading"><span class="title-med-weight">Cellular and</span><br>Pleated Shades</h3>
  </div>
</section>
<!-- Content -->

<!-- Pagebar -->
{% include "pagebar.njk" %}
<!-- Pagebar -->
{% endblock %}
